.container {
  background-color: #f3f3f3;
  padding: 90px 140px;
  position: relative;
}
.innerContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  column-gap: 32px;
  max-width: 1400px;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 60%;
}
.rightContainer p {
  font-size: 20px;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 42px 32px;
  border-radius: 20px;
  margin-top: 32px;
  row-gap: 40px;
  z-index: 2;
}
.formItemContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.formItemContainer label {
  font-size: 18px;
}
.formItemContainer label span {
  color: red;
}
.formItemContainer input {
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 46px;
  border-radius: 6px;
}
.formContainer button {
  width: 140px;
  height: 48px;
  font-size: 18px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  border: 0;
  color: white;
  border-radius: 35px;
  cursor: pointer;
}
.buttonPrimary {
  background-color: #f36339;
}
.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
}
.popcorn {
  margin-top: 180px;
}
.cloud {
  position: absolute;
  left: 0;
  top: 130px;
}
.wifi {
  position: absolute;
  top: 130px;
  right: 90px;
}
.background {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1156px) {
  .innerContainer {
    flex-direction: column;
  }
  .leftContainer,
  .rightContainer {
    width: 80%;
    margin: 0 auto;
  }
  .background {
    display: none;
  }
  .popcorn {
    margin-top: 30px;
  }
  .wifi {
    top: 0;
  }
  .cloud {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .leftContainer,
  .rightContainer {
    width: 100%;
    margin: 0 auto;
  }
  .container {
    padding: 60px;
  }
}
