.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 112px 140px;
  background-color: white;
  width: 100%;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  list-style-type: none;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.LeftItem {
  display: flex;
  column-gap: 16px;
}
.LeftItem span {
  width: 150px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    row-gap: 16px;
  }
  .rightContainer {
    flex-direction: column;
    row-gap: 16px;
  }
  .leftContainer {
    flex-direction: column;
    row-gap: 16px;
  }
}
